@use "./src/styles/mixins";
@import "./src/styles/variables";

.cards {
  padding: 1.6rem 1.6rem 0;
  min-width: 36rem;
  margin: 0 0 4rem;
  display: grid;
  grid-gap: 1.6rem;

  @include mixins.respond(tablet) {
    grid-template-columns: repeat(3, 1fr);
    padding-top: 2.4rem;
  }

  @include mixins.respond(desktop) {
    grid-column: 1 / 2;
    padding: 2.4rem 0 0;
  }

  @include mixins.respond(wide-desktop) {
    grid-gap: 2.4rem;
  }
}

.card {
  position: relative;
  height: 28rem;
  display: flex;
  flex-direction: column-reverse;

  &:hover {
    .more {
      @include mixins.respond(desktop) {
        display: block;
        color: $brand-secondary-color;
      }
    }

    .content {
      @include mixins.respond(desktop) {
        padding-bottom: 2.4rem;
      }
    }
  }
}

.link {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.media {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.picture {
  display: block;
  height: 18rem;

  img {
    object-fit: cover;
    max-width: initial;
    height: 100%;
    width: 100%;
  }
}

.content {
  background: $color-gray-01;
  padding: 2.4rem;

  @include mixins.respond(desktop) {
    transition: all 0.3s ease;
    padding: 2.4rem 2.4rem 0rem;
  }
}

.title {
  @include mixins.text-ellipsis(4rem, 1);
  font: $text-body-font;
  margin-bottom: 0.8rem;
}

.category {
  font: $text-body-font;
  color: $color-gray-03;
  margin: 0 0 0.8rem;
  text-transform: uppercase;
}

.more {
  display: none;

  @include mixins.respond(desktop) {
    display: block;
    font: $text-secondary-font;
    color: $color-gray-01;
  }
}
