@import "./src/styles/variables";

.header {
    background: $color-black;
    border-bottom: $border;
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav {
    display: flex;
    padding: 0 0 0 2.4rem;
    height: 8rem;
}
